<a href="https://colab.research.google.com/github/mayurdalvi5/Web_Scraping/blob/main/Web_Scraping_ambitionbox_website.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [ ]:
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

In [ ]:
soup=BeautifulSoup(webpage,'lxml')

In [ ]:

company=soup.find_all('div',class_='company-content-wrapper')

In [ ]:
final=pd.DataFrame()
for j in range(1,11):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p',class_='rating').text.strip())

   
       
   

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)
   
    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    
    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
  
  final=final.append(df,ignore_index=True)

IndexError: ignored

In [ ]:
final

                      name  ...          No_of_Employee
0                      TCS  ...       100001+ employees
1                Accenture  ...       100001+ employees
2               ICICI Bank  ...  50001-100000 employees
3                Cognizant  ...       100001+ employees
4                HDFC Bank  ...       100001+ employees
..                     ...  ...                     ...
294        Thomson Reuters  ...   10001-50000 employees
295      Sonalika Tractors  ...   10001-50000 employees
296         R.R. Donnelley  ...   10001-50000 employees
297              Wockhardt  ...    5001-10000 employees
298  L&T Technology Ser...  ...                     NaN

[299 rows x 7 columns]